data-processing/node-red/data/flows.json
[
  {
    "id": "flow-a-tab",
    "type": "tab",
    "label": "Flow A — Ingest & Store",
    "info": "Subscribes to bike/+/telemetry, stores each message as a 'bike' point in InfluxDB, and updates the last-seen timestamp used by the connectivity check."
  },
  {
    "id": "flow-b-tab",
    "type": "tab",
    "label": "Flow B — Fall Detection",
    "info": "Checks if a rented bike has tipped over (z-axis far from 9.8) or hit something hard. Only fires once per bike until the readings go back to normal."
  },
  {
    "id": "flow-c-tab",
    "type": "tab",
    "label": "Flow C — Parking Violation",
    "info": "Flags bikes that stop outside the allowed parking zones (loaded from /shared/parking-zones.json). One alert per bike while it stays parked illegally."
  },
  {
    "id": "flow-d-tab",
    "type": "tab",
    "label": "Flow D — Battery Alerts",
    "info": "Raises a low-battery alert when charge drops to 15%, 5%, or 0%. A new alert is only created when the severity level actually changes."
  },
  {
    "id": "flow-e-tab",
    "type": "tab",
    "label": "Flow E — Connectivity Monitoring",
    "info": "Keeps track of when each bike last sent data. If nothing arrives for 1 minute, an alert is raised. Clears automatically once the bike comes back online."
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red",
    "autoConnect": true,
    "usetls": false,
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "influxdb-config",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "bike_data",
    "name": "InfluxDB",
    "usetls": false,
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": true
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "flow-a-tab",
    "name": "bike/+/telemetry",
    "topic": "bike/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "inputs": 0,
    "x": 120,
    "y": 120,
    "wires": [["func-store-telemetry", "e5e3d000065354fb"]]
  },
  {
    "id": "func-store-telemetry",
    "type": "function",
    "z": "flow-a-tab",
    "name": "Telemetry → bike measurement",
    "func": "const parts = msg.topic.split('/');\nconst bikeId = parts[1];\nconst d = msg.payload;\n\nmsg.payload = [{\n    measurement: 'bike',\n    tags: { id: bikeId },\n    fields: {\n        lat: d.position.lat,\n        lng: d.position.lng,\n        current_speed: d.current_speed,\n        imu_x: d.imu.x,\n        imu_y: d.imu.y,\n        imu_z: d.imu.z,\n        imu_dx: d.imu.dx,\n        imu_dy: d.imu.dy,\n        imu_dz: d.imu.dz,\n        battery: d.battery,\n        locked: d.locked,\n        status: d.status,\n        current_ride: d.current_ride || ''\n    }\n}];\n\nconst lastSeen = global.get('bikeLastSeen') || {};\nlastSeen[bikeId] = Date.now();\nglobal.set('bikeLastSeen', lastSeen);\n\nreturn msg;",
    "outputs": 1,
    "x": 380,
    "y": 120,
    "wires": [["influx-out-bike"]]
  },
  {
    "id": "influx-out-bike",
    "type": "influxdb batch",
    "z": "flow-a-tab",
    "influxdb": "influxdb-config",
    "precision": "ms",
    "retentionPolicy": "",
    "name": "Write Bike",
    "database": "bike_data",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-bikes",
    "bucket": "bike_data",
    "x": 640,
    "y": 120,
    "wires": []
  },
  {
    "id": "e5e3d000065354fb",
    "type": "debug",
    "z": "flow-a-tab",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 120,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt-in-telemetry-fall",
    "type": "mqtt in",
    "z": "flow-b-tab",
    "name": "bike/+/telemetry",
    "topic": "bike/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [["func-fall-detect"]]
  },
  {
    "id": "func-fall-detect",
    "type": "function",
    "z": "flow-b-tab",
    "name": "Detect Fall (tilt or impact)",
    "func": "const data = msg.payload;\nconst parts = msg.topic.split('/');\nconst bikeId = parts[1];\n\nconst z = data.imu.z;\nconst x = data.imu.x;\nconst y = data.imu.y;\nconst totalAcc = Math.sqrt(x * x + y * y + z * z);\nconst tiltFromGravity = Math.abs(z - 9.8);\nconst isFall = tiltFromGravity > 4.0 || totalAcc > 25;\n\nif (isFall && data.status === 'rented') {\n    const activeAlerts = flow.get('activeFallAlerts') || {};\n    if (activeAlerts[bikeId]) return null;\n    activeAlerts[bikeId] = Date.now();\n    flow.set('activeFallAlerts', activeAlerts);\n    const ts = Date.now();\n    msg.payload = [{\n        measurement: 'alert',\n        tags: {\n            bike_id: bikeId,\n            type: 'fall',\n            severity: 'high'\n        },\n        fields: {\n            alert_id: 'fall-' + bikeId + '-' + ts,\n            message: 'Fall detected: tilt=' + tiltFromGravity.toFixed(1) + ', total_acc=' + totalAcc.toFixed(2) + ' m/s2'\n        }\n    }];\n    return msg;\n} else if (!isFall) {\n    const activeAlerts = flow.get('activeFallAlerts') || {};\n    if (activeAlerts[bikeId]) {\n        delete activeAlerts[bikeId];\n        flow.set('activeFallAlerts', activeAlerts);\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "x": 380,
    "y": 100,
    "wires": [["influx-out-alert", "debug-fall"]]
  },
  {
    "id": "debug-fall",
    "type": "debug",
    "z": "flow-b-tab",
    "name": "Fall Alert Log",
    "active": true,
    "tosidebar": true,
    "console": true,
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "influx-out-alert",
    "type": "influxdb batch",
    "z": "flow-b-tab",
    "influxdb": "influxdb-config",
    "precision": "ms",
    "retentionPolicy": "",
    "name": "Write Alert",
    "database": "bike_data",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-bikes",
    "bucket": "bike_data",
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt-in-telemetry-parking",
    "type": "mqtt in",
    "z": "flow-c-tab",
    "name": "bike/+/telemetry",
    "topic": "bike/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [["func-parking-detect"]]
  },
  {
    "id": "func-parking-detect",
    "type": "function",
    "z": "flow-c-tab",
    "name": "Detect Unauthorized Parking",
    "func": "const data = msg.payload;\nconst parts = msg.topic.split('/');\nconst bikeId = parts[1];\n\nconst ZONES = global.get('parkingZones') || [];\nif (ZONES.length === 0) {\n    node.warn('No parking zones loaded');\n    return null;\n}\n\nfunction distanceMeters(lat1, lng1, lat2, lng2) {\n    const R = 6371000;\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLng = (lng2 - lng1) * Math.PI / 180;\n    const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n              Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n              Math.sin(dLng/2) * Math.sin(dLng/2);\n    return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n}\n\nif (!data.locked) {\n    const activeAlerts = flow.get('activeParkingAlerts') || {};\n    if (activeAlerts[bikeId]) {\n        delete activeAlerts[bikeId];\n        flow.set('activeParkingAlerts', activeAlerts);\n    }\n    return null;\n}\n\nconst lat = data.position.lat;\nconst lng = data.position.lng;\n\nconst insideZone = ZONES.some(zone => {\n    const dist = distanceMeters(lat, lng, zone.center.lat, zone.center.lng);\n    return dist <= zone.radius;\n});\n\nif (!insideZone) {\n    const activeAlerts = flow.get('activeParkingAlerts') || {};\n    if (activeAlerts[bikeId]) return null;\n    activeAlerts[bikeId] = Date.now();\n    flow.set('activeParkingAlerts', activeAlerts);\n    const ts = Date.now();\n    msg.payload = [{\n        measurement: 'alert',\n        tags: {\n            bike_id: bikeId,\n            type: 'parking_violation',\n            severity: 'medium'\n        },\n        fields: {\n            alert_id: 'parking_violation-' + bikeId + '-' + ts,\n            message: 'Bike parked outside authorized zone at ' + lat.toFixed(5) + ', ' + lng.toFixed(5)\n        }\n    }];\n    return msg;\n} else {\n    const activeAlerts = flow.get('activeParkingAlerts') || {};\n    if (activeAlerts[bikeId]) {\n        delete activeAlerts[bikeId];\n        flow.set('activeParkingAlerts', activeAlerts);\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "x": 380,
    "y": 100,
    "wires": [["debug-parking", "influx-out-parking"]]
  },
  {
    "id": "debug-parking",
    "type": "debug",
    "z": "flow-c-tab",
    "name": "Parking Alert Log",
    "active": true,
    "tosidebar": true,
    "console": true,
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "influx-out-parking",
    "type": "influxdb batch",
    "z": "flow-c-tab",
    "influxdb": "influxdb-config",
    "precision": "ms",
    "retentionPolicy": "",
    "name": "Write Alert",
    "database": "bike_data",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-bikes",
    "bucket": "bike_data",
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "func-load-zones",
    "type": "function",
    "z": "flow-c-tab",
    "name": "Load parking-zones.json",
    "func": "const fs = global.get('fs');\nconst path = '/shared/parking-zones.json';\n\ntry {\n    const raw = fs.readFileSync(path, 'utf8');\n    const config = JSON.parse(raw);\n    global.set('parkingZones', config.zones);\n    node.log('Loaded ' + config.zones.length + ' parking zones for ' + config.city);\n    msg.payload = config;\n    return msg;\n} catch (e) {\n    node.error('Failed to load parking zones: ' + e.message);\n    return null;\n}",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [["debug-zones-loaded"]]
  },
  {
    "id": "inject-load-zones",
    "type": "inject",
    "z": "flow-c-tab",
    "name": "On startup",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 130,
    "y": 240,
    "wires": [["func-load-zones"]]
  },
  {
    "id": "debug-zones-loaded",
    "type": "debug",
    "z": "flow-c-tab",
    "name": "Zones Loaded",
    "active": true,
    "tosidebar": true,
    "console": true,
    "x": 640,
    "y": 240,
    "wires": []
  },
  {
    "id": "mqtt-in-telemetry-battery",
    "type": "mqtt in",
    "z": "flow-d-tab",
    "name": "bike/+/telemetry",
    "topic": "bike/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [["func-battery-check"]]
  },
  {
    "id": "func-battery-check",
    "type": "function",
    "z": "flow-d-tab",
    "name": "Check Low Battery (severity tiers)",
    "func": "const data = msg.payload;\nconst parts = msg.topic.split('/');\nconst bikeId = parts[1];\n\nlet severity = null;\nif (data.battery <= 0) {\n    severity = 'high';\n} else if (data.battery <= 5) {\n    severity = 'medium';\n} else if (data.battery <= 15) {\n    severity = 'low';\n}\n\nif (severity) {\n    const activeBatteryAlerts = flow.get('activeBatteryAlerts') || {};\n    const existing = activeBatteryAlerts[bikeId];\n    if (existing && existing === severity) return null;\n    activeBatteryAlerts[bikeId] = severity;\n    flow.set('activeBatteryAlerts', activeBatteryAlerts);\n    const ts = Date.now();\n    msg.payload = [{\n        measurement: 'alert',\n        tags: {\n            bike_id: bikeId,\n            type: 'low_battery',\n            severity: severity\n        },\n        fields: {\n            alert_id: 'low_battery-' + bikeId + '-' + ts,\n            message: 'Battery low: ' + data.battery.toFixed(1) + '% (severity: ' + severity + ')'\n        }\n    }];\n    return msg;\n} else {\n    const activeBatteryAlerts = flow.get('activeBatteryAlerts') || {};\n    if (activeBatteryAlerts[bikeId]) {\n        delete activeBatteryAlerts[bikeId];\n        flow.set('activeBatteryAlerts', activeBatteryAlerts);\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "x": 380,
    "y": 100,
    "wires": [["debug-battery", "4651189413b0306f"]]
  },
  {
    "id": "debug-battery",
    "type": "debug",
    "z": "flow-d-tab",
    "name": "Battery Alert Log",
    "active": true,
    "tosidebar": true,
    "console": true,
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "4651189413b0306f",
    "type": "influxdb batch",
    "z": "flow-d-tab",
    "influxdb": "influxdb-config",
    "precision": "ms",
    "retentionPolicy": "",
    "name": "Write Alert",
    "database": "bike_data",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-bikes",
    "bucket": "bike_data",
    "x": 670,
    "y": 60,
    "wires": []
  },
  {
    "id": "inject-connectivity-check",
    "type": "inject",
    "z": "flow-e-tab",
    "name": "Every 15s",
    "props": [],
    "repeat": "15",
    "crontab": "",
    "once": true,
    "onceDelay": "60",
    "topic": "",
    "x": 130,
    "y": 100,
    "wires": [["func-connectivity-check"]]
  },
  {
    "id": "func-connectivity-check",
    "type": "function",
    "z": "flow-e-tab",
    "name": "Check Bike Connectivity",
    "func": "const lastSeen = global.get('bikeLastSeen') || {};\nconst activeAlerts = flow.get('activeConnectivityAlerts') || {};\nconst now = Date.now();\nconst TIMEOUT_MS = 60000;\nconst alerts = [];\n\nfor (const bikeId of Object.keys(lastSeen)) {\n    const elapsed = now - lastSeen[bikeId];\n    if (elapsed > TIMEOUT_MS) {\n        if (activeAlerts[bikeId]) continue;\n        activeAlerts[bikeId] = now;\n        alerts.push({\n            measurement: 'alert',\n            tags: {\n                bike_id: bikeId,\n                type: 'connectivity',\n                severity: 'medium'\n            },\n            fields: {\n                alert_id: 'connectivity-' + bikeId + '-' + now,\n                message: 'Bike offline: no data received for ' + Math.round(elapsed / 1000) + 's'\n            }\n        });\n    } else if (activeAlerts[bikeId]) {\n        delete activeAlerts[bikeId];\n    }\n}\n\nflow.set('activeConnectivityAlerts', activeAlerts);\n\nif (alerts.length > 0) {\n    msg.payload = alerts;\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "x": 380,
    "y": 100,
    "wires": [["influx-out-connectivity", "debug-connectivity"]]
  },
  {
    "id": "influx-out-connectivity",
    "type": "influxdb batch",
    "z": "flow-e-tab",
    "influxdb": "influxdb-config",
    "precision": "ms",
    "retentionPolicy": "",
    "name": "Write Alert",
    "database": "bike_data",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot-bikes",
    "bucket": "bike_data",
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-connectivity",
    "type": "debug",
    "z": "flow-e-tab",
    "name": "Connectivity Alert Log",
    "active": true,
    "tosidebar": true,
    "console": true,
    "x": 650,
    "y": 160,
    "wires": []
  }
]
