data-processing/node-red/data/flows.json
[{"id":"flow-a-tab","type":"tab","label":"Flow A — Ingest & Store","info":"Receives telemetry from bike/+/telemetry and station/+/status.\nWrites to 'bike' and 'station' measurements in InfluxDB."},{"id":"flow-b-tab","type":"tab","label":"Flow B — Fall Detection","info":"Monitors IMU fields in telemetry for sudden acceleration spikes.\nWrites 'alert' event to InfluxDB."},{"id":"flow-c-tab","type":"tab","label":"Flow C — Parking Violation","info":"Detects stationary bikes parked outside authorized zones.\nZones loaded from /data/parking-zones.json.\nWrites 'alert' event to InfluxDB."},{"id":"flow-d-tab","type":"tab","label":"Flow D — Battery & Dock Events","info":"Monitors battery level in telemetry and dock/undock events.\nWrites 'alert' event to InfluxDB."},{"id":"mqtt-broker-config","type":"mqtt-broker","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"node-red","autoConnect":true,"usetls":false,"keepalive":"60","cleansession":true},{"id":"influxdb-config","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"bike_data","name":"InfluxDB","usetls":false,"influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"mqtt-in-telemetry","type":"mqtt in","z":"flow-a-tab","name":"bike/+/telemetry","topic":"bike/+/telemetry","qos":"0","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":120,"wires":[["func-store-telemetry","e5e3d000065354fb"]]},{"id":"func-store-telemetry","type":"function","z":"flow-a-tab","name":"Telemetry → bike measurement","func":"const parts = msg.topic.split('/');\nconst bikeId = parts[1];\nconst d = msg.payload;\n\nmsg.payload = [{\n    measurement: 'bike',\n    tags: { id: bikeId },\n    fields: {\n        lat: d.position.lat,\n        lng: d.position.lng,\n        current_speed: d.current_speed,\n        imu_x: d.imu.x,\n        imu_y: d.imu.y,\n        imu_z: d.imu.z,\n        imu_dx: d.imu.dx,\n        imu_dy: d.imu.dy,\n        imu_dz: d.imu.dz,\n        battery: d.battery,\n        locked: d.locked,\n        status: d.status,\n        current_ride: d.current_ride || ''\n    }\n}];\n\nreturn msg;","outputs":1,"x":380,"y":120,"wires":[["influx-out-bike"]]},{"id":"influx-out-bike","type":"influxdb batch","z":"flow-a-tab","influxdb":"influxdb-config","precision":"ms","retentionPolicy":"","name":"Write Bike","database":"bike_data","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot-bikes","bucket":"bike_data","x":640,"y":120,"wires":[]},{"id":"mqtt-in-station","type":"mqtt in","z":"flow-a-tab","name":"station/+/status","topic":"station/+/status","qos":"0","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":280,"wires":[["func-store-station"]]},{"id":"func-store-station","type":"function","z":"flow-a-tab","name":"Station → station measurement","func":"const parts = msg.topic.split('/');\nconst stationId = parts[1];\nconst data = msg.payload;\n\nmsg.payload = [{\n    measurement: 'station',\n    tags: { station_id: stationId },\n    fields: {\n        available_slots: data.available_slots,\n        bikes_docked: data.bikes_docked\n    }\n}];\n\nreturn msg;","outputs":1,"x":380,"y":280,"wires":[["influx-out-station"]]},{"id":"influx-out-station","type":"influxdb batch","z":"flow-a-tab","influxdb":"influxdb-config","precision":"ms","retentionPolicy":"","name":"Write Station","database":"bike_data","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot-bikes","bucket":"bike_data","x":640,"y":280,"wires":[]},{"id":"e5e3d000065354fb","type":"debug","z":"flow-a-tab","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":120,"y":200,"wires":[]},{"id":"mqtt-in-telemetry-fall","type":"mqtt in","z":"flow-b-tab","name":"bike/+/telemetry","topic":"bike/+/telemetry","qos":"0","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":100,"wires":[["func-fall-detect"]]},{"id":"func-fall-detect","type":"function","z":"flow-b-tab","name":"Detect Fall (|imu_z| > 25)","func":"const data = msg.payload;\nconst parts = msg.topic.split('/');\nconst bikeId = parts[1];\n\nconst absZ = Math.abs(data.imu.z);\n\nif (absZ > 25) {\n    const ts = Date.now();\n    msg.payload = [{\n        measurement: 'alert',\n        tags: {\n            bike_id: bikeId,\n            type: 'fall',\n            severity: 'high'\n        },\n        fields: {\n            alert_id: 'fall-' + bikeId + '-' + ts,\n            message: 'Fall detected: |imu_z| = ' + absZ.toFixed(2) + ' m/s²'\n        }\n    }];\n    return msg;\n}\n\nreturn null;","outputs":1,"x":380,"y":100,"wires":[["influx-out-alert","debug-fall"]]},{"id":"debug-fall","type":"debug","z":"flow-b-tab","name":"Fall Alert Log","active":true,"tosidebar":true,"console":true,"x":650,"y":160,"wires":[]},{"id":"influx-out-alert","type":"influxdb batch","z":"flow-b-tab","influxdb":"influxdb-config","precision":"ms","retentionPolicy":"","name":"Write Alert","database":"bike_data","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot-bikes","bucket":"bike_data","x":650,"y":80,"wires":[]},{"id":"mqtt-in-telemetry-parking","type":"mqtt in","z":"flow-c-tab","name":"bike/+/telemetry","topic":"bike/+/telemetry","qos":"0","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":100,"wires":[["func-parking-detect"]]},{"id":"func-parking-detect","type":"function","z":"flow-c-tab","name":"Detect Unauthorized Parking","func":"const data = msg.payload;\nconst parts = msg.topic.split('/');\nconst bikeId = parts[1];\n\nconst ZONES = global.get('parkingZones') || [];\nif (ZONES.length === 0) {\n    node.warn('No parking zones loaded — check parking-zones.json');\n    return null;\n}\n\nfunction distanceMeters(lat1, lng1, lat2, lng2) {\n    const R = 6371000;\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLng = (lng2 - lng1) * Math.PI / 180;\n    const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n              Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n              Math.sin(dLng/2) * Math.sin(dLng/2);\n    return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n}\n\nif (data.current_speed >= 1) return null;\n\nconst lat = data.position.lat;\nconst lng = data.position.lng;\n\nconst insideZone = ZONES.some(zone => {\n    const dist = distanceMeters(lat, lng, zone.center[0], zone.center[1]);\n    return dist <= zone.radius;\n});\n\nif (!insideZone) {\n    const ts = Date.now();\n    msg.payload = [{\n        measurement: 'alert',\n        tags: {\n            bike_id: bikeId,\n            type: 'parking_violation',\n            severity: 'medium'\n        },\n        fields: {\n            alert_id: 'parking_violation-' + bikeId + '-' + ts,\n            message: 'Bike parked outside authorized zone at ' + lat.toFixed(5) + ', ' + lng.toFixed(5)\n        }\n    }];\n    return msg;\n}\n\nreturn null;","outputs":1,"x":380,"y":100,"wires":[["debug-parking"]]},{"id":"debug-parking","type":"debug","z":"flow-c-tab","name":"Parking Alert Log","active":true,"tosidebar":true,"console":true,"x":650,"y":160,"wires":[]},{"id":"func-load-zones","type":"function","z":"flow-c-tab","name":"Load parking-zones.json","func":"const fs = global.get('fs');\nconst path = '/shared/parking-zones.json';\n\ntry {\n    const raw = fs.readFileSync(path, 'utf8');\n    const config = JSON.parse(raw);\n    global.set('parkingZones', config.zones);\n    node.log('Loaded ' + config.zones.length + ' parking zones for ' + config.city);\n    msg.payload = config;\n    return msg;\n} catch (e) {\n    node.error('Failed to load parking zones: ' + e.message);\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["debug-zones-loaded"]]},{"id":"inject-load-zones","type":"inject","z":"flow-c-tab","name":"On startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":130,"y":240,"wires":[["func-load-zones"]]},{"id":"debug-zones-loaded","type":"debug","z":"flow-c-tab","name":"Zones Loaded","active":true,"tosidebar":true,"console":true,"x":640,"y":240,"wires":[]},{"id":"mqtt-in-telemetry-battery","type":"mqtt in","z":"flow-d-tab","name":"bike/+/telemetry","topic":"bike/+/telemetry","qos":"0","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":100,"wires":[["func-battery-check"]]},{"id":"func-battery-check","type":"function","z":"flow-d-tab","name":"Check Low Battery (< 15%)","func":"const data = msg.payload;\nconst parts = msg.topic.split('/');\nconst bikeId = parts[1];\n\nif (data.battery < 15) {\n    const ts = Date.now();\n    msg.payload = [{\n        measurement: 'alert',\n        tags: {\n            bike_id: bikeId,\n            type: 'low_battery',\n            severity: 'low'\n        },\n        fields: {\n            alert_id: 'low_battery-' + bikeId + '-' + ts,\n            message: 'Battery low: ' + data.battery.toFixed(1) + '%'\n        }\n    }];\n    return msg;\n}\n\nreturn null;","outputs":1,"x":380,"y":100,"wires":[["debug-battery","4651189413b0306f"]]},{"id":"debug-battery","type":"debug","z":"flow-d-tab","name":"Battery Alert Log","active":true,"tosidebar":true,"console":true,"x":650,"y":160,"wires":[]},{"id":"mqtt-in-dock-event","type":"mqtt in","z":"flow-d-tab","name":"station/+/event (placeholder)","topic":"station/+/event","qos":"0","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":140,"y":260,"wires":[["debug-dock-event"]]},{"id":"debug-dock-event","type":"debug","z":"flow-d-tab","name":"Dock Event (not processed yet)","active":true,"tosidebar":true,"console":false,"x":440,"y":260,"wires":[]},{"id":"4651189413b0306f","type":"influxdb batch","z":"flow-d-tab","influxdb":"influxdb-config","precision":"ms","retentionPolicy":"","name":"Write Alert","database":"bike_data","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot-bikes","bucket":"bike_data","x":670,"y":60,"wires":[]}]